.cautare{
    text-align: center;
    border: 1px solid #FFF;
}

.cautare div{
    display: inline-block;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
    padding: 10px;
    margin-left: -5px;
}

.cautare span{
display: block !important;
}

#cautare_avansata{
    height: 0px;
}