.cautare{
    text-align: center;
    border: 1px solid #FFF;
}

.cautare div{
    display: inline-block;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
    padding: 10px;
    margin-left: -5px;
}

.cautare span{
display: block !important;
}

#cautare_avansata{
    height: 0px;
    overflow: hidden;
}

.container{
    min-height: 100%;
    margin: 0px 10px;
}

.container .item{
    float: left;
    border: 1px solid #FFF;
}

.container .item span{
    display: block;
}